* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1.5em;
    background-color: rgba(139, 170, 65);
    font-family: Lato, "Microsoft YaHei", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}

a {
    color: #eef3f0;
    text-decoration: none;
    transition: .3s;
}

h1 {
    font-size: 3.5em;
    margin: 0 0 0.25em 0;
    text-shadow: 1px 2px rgba(139, 170, 65), 2px 4px rgba(199, 186, 126);
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

p {
    font-size: 1.1em;
    margin: 0.5em 0;
    color: rgba(255, 255, 255, .6);
}

li {
    list-style: none;
}

.section {
    color: #eef3f0;
}

#subtitle {
    margin: 1em 0 0.5em 0;
    color: rgba(255, 255, 255, .7);
}

#top {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

#project {
    padding-top: 1em;
}

.tab {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tab ul li {
    display: inline-block;
    padding: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    border: 1px solid rgba(48, 73, 11, .3);
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.tab ul li:hover,
.current {
    background-color: rgba(255, 255, 255, .2);
}

.tab ul li:hover a {
    color: rgba(48, 73, 11);
}

.item1 {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    font-size: 1.5em;
}

.item1 li {
    margin-bottom: 25px;
    color: rgba(255, 255, 255, .6);
}

.item1 li span {
    display: inline-block;
    width: 166px;
    color: rgba(255, 255, 255, .3);
}

.item2,
.item4,
.item5 {
    margin-top: 150px;
    text-align: center;
}

.item2 P,
.item4 P,
.item5 P {
    margin-top: 20px;
    font-size: 1.2em;
}

.demo {
    margin: 0 auto;
    margin-top: 1em;
    color: rgba(255, 255, 255, .7);
    border-collapse: collapse;
}

.demo th {
    color: rgba(48, 73, 11, .6);
}

.demo th,
.demo td {
    padding: 8px 15px;
    border: 1px solid rgba(48, 73, 11, .3);
    ;
}

.demo a {
    font-size: 1.2em;
    text-decoration: underline;
    color: rgba(48, 73, 11, .7);
}

.demo a:hover {
    color: #9f3;
}

.item5 {
    margin-top: 170px;
}
